
*{
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #6495ED;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container{
     
     min-width: 720px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 0 14px;
}
.title{
    color: greenyellow;
    text-align: center;
    color: #fff;
    margin: 24px 0;
}
.logo{
   max-width: 227px;
   

}
.form label{
     color: #fff;
     font-size: 20px;

}
.input{
    width: 100%;
    height: 48px;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 14px;
    margin-top: 8px;
    margin-bottom: 16px;
}
.buttom{
    width: 100%;
    height: 48px;
    background-color: #bd5de9;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.result{
    background-color: #e9ad0a;
    max-width: 520px;
    padding: 20px 20px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid #696969;
    user-select: none;
    transition: transform 0.8s;
}

.result:hover{
transform: scale(1.1);
}


.result span{
   color: #fff;
   margin-bottom: 8px;
   
}

.hide{
    display: none;
}

#text-result{
    font-size: 24px;
    font-weight: bold;

}

.info{
    position: fixed;
    right: 14px;
    bottom: 22px;
}
.info-img{
    width: 66px;
    height: 66px;
}
.tooltip{
    color: #fff;
    background-color: #0f0f0f;
    padding: 10px 8px;
    border-radius: 6px;
    position: relative;
    bottom: 28px;
    display: none;
}
.info:hover  .tooltip{
    display: inline;

}
.sobre{
    max-width: 620px;
    background-color: #6495ED;
    padding: 24px 14px;
    border: 1px solid #696969;
    border-radius: 5px;


}

.sobre p{
    color: #fff;
    margin-bottom: 8px;
    line-height: 150%;
}
.button-calcular{
    background-color: #18d89b;
    height: 48px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin-top: 24px;
    border-radius: 5px;
}